<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.MySQL" version="8.3.397" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="wp71" />
  <package id="RestSharp" version="104.0" targetFramework="wp71" />
  <package id="RestSharpSigned" version="105.1.0" targetFramework="wp71" />
  <package id="Spring.Rest" version="1.1.1" targetFramework="wp71" />
</packages>